#error404 {
  background: #f3f3f3;
}
.error-404 {
  margin: 0 auto;
  max-width: 1200px;
  width: 92%; 

  .page-title {
    text-align: center;
    padding: 50px 0 0 0;
  }

  p {
    text-align: center;
    padding: 20px 0;
    margin: 0;
  }

  .page-content {
    @include clearfix();
    width: 100%;
    @include mobile-landscape-and-up() {
      width: 80%;
    }
    margin: 0 auto;
    .contentsolutions-site,
    .demandmedia-site,
    .demandstudios-site {
      position: relative;
      cursor: pointer;
      margin-bottom: 20px;
      width: 100%;
      img {
        width: 100%;
        height: auto;
        box-shadow: 0 1px 1px rgba(0,0,0,0.8);
      }
    }
  }
}

.dm-sites {
  padding: 50px 0 100px 0;
}

.e-overlay {
  opacity: 1;
  position: absolute;
  background: rgba(0,0,0,0.5);
  width: 100%;
  top: 0;
  left: 0;
  bottom: 6px;
  z-index: 10;
  &:hover {
    background: rgba(0,0,0,0.1);
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    transition: all 500ms linear;
  }
}

.e-marketing {
  position: absolute;
  top: 35%;
  left: 0;
  text-align: center;
  width: 100%;
  h2 {
    color: #FFF;
    font-size: $font-size-24;
    @include tablet-custom-675-up() {
      font-size: $font-size-44;
    }
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  }
  p {
    color: #FFF;
    font-size: $font-size-18;
    font-weight: 300;
    padding: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  }
}

