
//variables
$num-of-modules: 15;
$module-width: 60px;
$gutter: 24px;
$layout-width: 1200px;

// create a flexible gutter
$flex-gutter: percentage($gutter/$layout-width);

//mixin to create precentage-based width
@mixin grid($col-num, $gutter-num) {
  width: percentage((($module-width * $col-num)+($gutter * $gutter-num))/$layout-width);
}




