/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	// first level
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			float: left;
			position: relative;

			a {
				display: block;
				text-decoration: none;
			}

			// link hover
			&:hover {
				> a { }
				> ul { display: block; }
			}

		}

		li.current_page_item, li.current-menu-item {
			a {}
		}

		// second level
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			display: none;
			float: left;
			position: absolute;
				top: $vspacing;
				left: 0;
			z-index: 99999;

			&:hover {
				> a {};
			}

			li {
				a {
					width: 200px;
					&:hover {};
				}
			}

			// third level
			ul {
				left: 100%;
				top: 0;
			}

		}
	}

}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }
}


/* =Content365 Full Bleed Hero in the Header 
----------------------------------------------- */
.h-container {
	background-color: $site-wide-color;
  background-image: url('images/Content365_Family_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


/* =Content365 Navigation
----------------------------------------------- */

.headerAndNavContainer {
	display: table;
	padding: 0;
	width: 100%;
	//height: 85px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;

	.headerAndNavContent {

		margin: 0 auto;
		max-width: 1200px;

		.headerAndNavContentInner {
			display: table;
			vertical-align: middle;
			width: 100%;
		}
	}
	&.sticky {
		position: fixed;
		z-index: 10;
		//background: rgba(255,255,255,1.0);
		background: rgba(255,255,255,0.0);
		-webkit-transition: background 300ms ease-in-out;
		-moz-transition: background 300ms ease-in-out;
		transition: background 300ms ease-in-out;
	}
}

.headerContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-width: 600px;
	display: block;
	padding: 0;
	@include tablet-custom-760-up() {
		position: relative;
		max-width: none;
		padding: 0 4% 0 4%;
		display: table-cell;
		vertical-align: middle;
		width: 32%;
	}
}

.navContent {
	ul {
		li:last-child {
			//display: none;
		}
		@include tablet-custom-760-up() {
			li:last-child {
				display: inline-block;
			}
		}
	}
}

.navContent {
	display:none;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		@include tablet-custom-760-up() {
			border-top: none;
		}
	}

	li {
		padding: 10px 0;
		font-size: $font-size-14;
		margin: 0;
		width: 50%;
		float: left;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		@include tablet-custom-760-up() {
			display: inline-block;
			padding: 0;
			margin-left: 1.5em;
			font-size: $font-size-12;
			border-bottom: none;
			border-right: none;
			float: left;
			width: 13%;
			padding-top: 10px;
		}
		&:last-child {
			@include tablet-custom-760-up() {
				padding-top: 5px;
			}
		}

	}

	a {
		color: #FFF;

		@include tablet-custom-760-up() {
			color: #FFF;
			&:hover {
				color: $highlight-color;	
				transition:all .5s ease-in-out;
			}
		}

		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			color: $highlight-color;	
			transition:all .5s ease-in-out;
		}
		&.active {
			color: $highlight-color;
		}
		font-size: $font-size-16;
		@include tablet-custom-825-up() {
			font-size: $font-size-18;
		}
		@include font-book();
		-webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.6);
		-moz-text-shadow: 0 1px 1px rgba(0,0,0,0.6);
		text-shadow: 0 1px 1px rgba(0,0,0,0.6);

		&.n-contact {
			@include tablet-custom-760-up() {
				border: 1px solid #fff;
				padding: 5px 10px 5px 10px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				box-shadow: 0 1px 1px rgba(0,0,0,0.3);
			}
			&:hover {
				@include tablet-custom-760-up() {
					border: 1px solid $highlight-color;
				}
				-webkit-transition: all 250ms linear;
				-moz-transition: all 250ms linear;
				transition: all 250ms linear;
			}
		}
	}
}

.navContent {
	overflow: hidden;
	@include tablet-custom-760-up() {
		overflow: visible;
	}
	height: auto;
}

.navContent.active {
	//height: 300px;
	@include tablet-custom-760-below() {
		background: rgba(81, 87, 93, 0.7);
	}
	@include tablet-custom-760-up() {
		height: auto; 
	}
}

.navContent.inactive {
	height: 0;
	@include tablet-custom-760-up() {
		height: auto; 
	}
	//-webkit-transition: all 250ms linear;
	//-moz-transition: all 250ms linear;
	//transition: all 250ms linear;
}

.headerContent, .navContent {
	@include tablet-custom-760-up() {
		//max-width: 600px;
		display: block;
	}
	margin-left: auto;
	margin-right: auto;
}

.headerContent h1.logo {
	width: 100%;
	min-width: 186px;
	max-width: 292px;
	float: none;
	float: left;
	margin: 0 auto;
	img {
		display: block;
		-webkit-transition: all 250ms linear;
		-moz-transition: all 250ms linear;
		transition: all 250ms linear;
		&.gray-logo {
			display: block;
		}
		&.white-logo {
			display: none;
		}
	}
}

.headerContainer, .navHeading {
	display: block;
	height: 100%;
	@include tablet-custom-760-up() {
		max-width: none;
		display: table-cell;
		vertical-align: middle;
	}
}

.navHeading {
	width: 100%;
	//background: $site-wide-color;
	position: relative;
	@include tablet-custom-760-up() {
		//background: #FFF;
		width: 68%;
	}
	z-index: 1;

	.mobile-menu {
		display: block;
		margin: 0;
		//padding: 10px;
		background: rgba(81, 87, 93, 0.7); 
		@include tablet-custom-760-up() {
			display: none;
		}

		p {
			font-size: 32px;
			a {
				color: #FFF;
				text-decoration: none;
				span {
					/*@include tablet-custom-600-below {
					color: lighten($site-wide-color, 40%);
					}*/
				}
			}
			text-align: right;
			padding: 10px 0;
			margin: 0;
			padding-right: 20px;
			text-transform: uppercase;
		}
	}
}

