.showcase {
  min-height: 1200px; 
}

.showcase-hero {
  background-color: $site-wide-color;
  width: 100%;
  background-image: url('images/work/experian/ExperianFeature_opt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.showcase-copy {
  padding: 60px 10px 60px 10px;
  @include tablet-portrait-only() {
    padding: 150px 10px 150px 10px;
  }
  @include tablet-portrait-and-up () {
    padding: 250px 10px 250px 10px;
  }
  width: 100%;
  @include tablet-portrait-and-up {
    width: 45%;
  }

  h1 {
    color: $experian-color;
    font-size: 3.5em;
    font-weight: 300;
    text-align: center;
    text-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
  }

  .partner-logo {
    text-align: center;
    padding: 15px 0 10px 0;
  }

  p {
    color: #FFF;
    font-size: $font-size-22;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
    position: relative;
    top: 15px;
    text-transform: uppercase;
  }

  .partner-btn-container {
    margin: 10px;
    text-align: center;
  }
}

.partner-btn {
  background: #0095d3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0095d3), to(#00658f));
  background-image: -moz-linear-gradient(0 100% 90deg, #0095d3, #00658f);
  color: #FFF !important;
  text-decoration: none;
  font-size: $font-size-20;  
  @include tablet-custom-600-below() {
    font-size: $font-size-16;  
  }
  padding: 13px 20px;
  //border: 1px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.9);
  }
  100% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.2);
  }
}

.partner-btn:hover,
.partner-btn:focus {
   -webkit-animation: pulse 1.5s infinite ease-in-out;
}

.showcase-headline {
  color: $experian-color;
  background: #f3f3f3;
  background-image: -webkit-linear-gradient(top,#fff 0,#f2f5f7 99%);
  background-image: -moz-linear-gradient(top,#fff 0,#f2f5f7 99%);
  background-image: -ms-linear-gradient(top,#fff 0,#f2f5f7 99%);
  font-size: 3em;
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.partner-logo-headline {
  text-align: center;
  padding: 30px 0;
  background: #f3f3f3;
  background-image: -webkit-linear-gradient(top,#fff 0,#f2f5f7 99%);
  background-image: -moz-linear-gradient(top,#fff 0,#f2f5f7 99%);
  background-image: -ms-linear-gradient(top,#fff 0,#f2f5f7 99%);
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  img {
    width: 65%;
    @include mobile-landscape-and-up {
      width: inherit;
    }
  }
}

.showcase-container {
  padding: 50px 0 0 0;
  h2.sc-title {
    font-size: $font-size-20;
    @include mobile-landscape-and-up() {
      font-size: $font-size-24;
    }
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 20px 0 40px 0;
  }
  
  .showcase-icon {
    font-size: $font-size-24;
    margin-right: .5em;
    position: relative;
    top: 7px;
  }
}

.s-container {
  .showcase-info h2 {
    font-size: $font-size-16;
    @include tablet-landscape-and-up() {
      font-size: $font-size-18;
    }
    text-transform: none;
    padding-bottom: 0;
    a {
      text-decoration: none;
      color: $experian-color;
      &:hover {
        color: $experian-color;
        -webkit-transition:all .5s ease-in-out;
        -moz-transition:all .5s ease-in-out;
        transition:all .5s ease-in-out;
      }
    }
  }
}

.showcase-info {
  a p {
    margin-bottom: 0.8em;
  }
}

.s-container .showcase-info p.snippet {
  @include tablet-landscape-and-up() {
    font-size: $font-size-18;
    margin-bottom: 2.5em;
  }
  font-size: $font-size-14;
  margin-bottom: 1em;
}

.showcase-info a {
  color: $site-wide-color;
  text-decoration: none;
  &:hover {
    color: $experian-color;
    text-decoration: underline;
    -webkit-transition:all .7s ease-in-out;
    -moz-transition:all .7s ease-in-out;
    transition:all .7s ease-in-out;
  }
}

.showcase-info .view-link {
  text-decoration: normal;
  background: #0095D3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0095d3), to(#00658f));
  background-image: -moz-linear-gradient(0 100% 90deg, #0095d3, #00658f);
  color: #FFF !important;
  text-decoration: none;
  font-size: $font-size-18;  
  @include tablet-custom-600-below() {
    font-size: $font-size-14;  
  }
  padding: 13px 20px;
  //border: 1px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  &:hover {
    text-decoration: none;
    background: #0095D3;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00a1e4), to(#0095D3));
    background-image: -moz-linear-gradient(0 100% 90deg, #00a1e4, #0095D3);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
}

.showcase-image .i-graphic {
  width: 70%;
}

.showcase-image {
  position: relative;
  .f-overlay {
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgba(76,76,76,0.3);
    position: absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: background-color .15s;
    -moz-transition: background-color .15s;
    transition: background-color .15s;
    min-width: 300px;
    max-width: 350px;
    bottom: 15px;
    left: 10%;
    padding: 15px;
    z-index: 10;
  }
  .feature-text {
    font-weight: 300;
    font-size: $font-size-16;
    color: #FFF;
  }
  img {
    position: relative;
    top: 7px;
  }
}

.showcase-row.alt .showcase-image img {
  top: 7px;
}

.showcase-items {
  @include clearfix();
  background: #FFF;
  list-style: none;
  margin: 0;
  text-align: center;
  padding-bottom: 0;
  @include gotham-rounded-medium();
  @include tablet-portrait-and-up() {
    padding-bottom: 50px;
  }
  li {
    display: inline-block; 
    margin: 0 25px;
    @include tablet-custom-760-below() {
      float: left;
      width: 50%;
      text-align: center;
      margin: 0;
      padding: 10px;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: #EEE;
      &:last-child,
      &:nth-last-child(2) {
        border-width: 1px 1px 1px 0;
      }
      &:nth-child(odd) {
        border-left: 1px solid #EEE;
      }
    }
    a {
      color: $site-wide-color;
      font-size: $font-size-16;
      @include mobile-landscape-and-up() {
        font-size: $font-size-18;
      }
      text-decoration: none;
      &:hover {
        color: $experian-color;
        -webkit-transition:all .5s ease-in-out;
        -moz-transition:all .5s ease-in-out;
        transition:all .5s ease-in-out;
      }
      &.selected {
        color: $experian-color;
        @include tablet-portrait-and-up() {
          border-bottom: 2px solid $experian-color;
        }
        padding-bottom: 5px;
      }
    }
  }
}

.s-container {
  @include clearfix();
  width: 92%;
  margin: 0 auto;
  max-width: 1200px;
  .showcase-info {
    padding-left: 2%;
    p {
      font-size: $font-size-16;
      @include tablet-landscape-and-up() {
        font-size: $font-size-20;
      }
      @include gotham-rounded-medium();
    }
  }
}

.showcase-row.alt {
  .s-container {
    .showcase-info.mobile {
      display: block;
      @include tablet-portrait-and-up() {
        display: none;
      }
    }
    .showcase-info.desktop {
      display: none;
      @include tablet-portrait-and-up() {
        display: block;
      }
    }
  }
}

.showcase-display .content-showcase {
  border-top: none;
  @include tablet-portrait-and-up() {
    border-top: 1px solid #cfd6e5;
  }
}

.quote-container {
  width: 90%;
  @include mobile-landscape-and-up() {
    width: 80%;
  }
  margin: 30px auto 30px auto;
  @include mobile-landscape-and-up() {
    margin: 0 auto 80px auto;
  }
  .quote {
    font-size: $font-size-18; 
    @include mobile-landscape-and-up {
      font-size: $font-size-24;
    }
    font-style: italic;
    font-weight: 500;  
    margin-bottom: 15px;
    padding: 0;
  }
  .author {
    margin-bottom: 50px;
    strong {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
    }
  }
}

.video-showcase-section .pad-bottom {
  padding-bottom: 100px;
}

.showcase-row.bg {
  background-color: #f3f3f3; 
  background-image: url(images/fallback-gradient.png); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F3F3F3));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #F3F3F3); 
  background-image:    -moz-linear-gradient(top, #FFFFFF, #F3F3F3);
  background-image:     -ms-linear-gradient(top, #FFFFFF, #F3F3F3);
  background-image:      -o-linear-gradient(top, #FFFFFF, #F3F3F3);
  .showcase-image {
    text-align: left;
  }
}

.showcase-row.pad {
  padding-top: 10px;
  @include tablet-portrait-and-up () {
    padding-top: 100px;
  }
}

.showcase-row {
  padding-bottom: 50px;
  @include tablet-portrait-and-up () {
    padding-bottom: 0;
  }
  @include clearfix();
  border-bottom: 1px solid #cfd6e5;
}

.showcase-row:before {
  width: 92%;
  margin: 0 auto;
}

.showcase-row.alt {
  padding-top: 0;
  @include tablet-portrait-and-up () {
    padding-top: 100px;
  }
  padding-bottom: 50px;
  @include tablet-portrait-and-up () {
    padding-bottom: 0;
  }
  .showcase-image {
    text-align: right;
  }
}

.showcase-row.alt.pad-bottom {
  @include tablet-portrait-and-up () {
    padding-bottom: 100px;
  }
}

.all-showcase-section img {
  //border: 1px solid #EEE;
  //box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
}

.all-showcase-section,
.resource-articles-showcase-section,
.blog-showcase-section,
.tips-showcase-section,
.infographics-showcase-section,
.video-showcase-section {
  @include clearfix();
  @include mobile-only() {
    padding: 20px 0 10px 0;
  }
  padding: 50px 0;
  //margin: 10px auto;
  //width: 95%;
  &.inactive {
    position: absolute;
    opacity: 0.0;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    left: -9999px;
    top: 0;
  }
  &.active {
    opacity: 1.0;
    position: static;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
  }
}

.resource-articles-showcase-section.plus,
.blog-showcase-section.plus,
.tips-showcase-section.plus,
.infographics-showcase-section.plus,
.video-showcase-section.plus {
  padding-bottom: 0;
  margin-bottom: 0;
}

.all-showcase-section {
  text-align: center;
  img {
    width: 100%;
    @include mobile-landscape-and-up {
      width: 80%;
    }
  }
}

#experian-mosaic {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include clearfix();
  width: 100%;
  @include tablet-landscape-and-up () {
    width: 80%;
  }
  margin: 0 auto;

  .experian-col1 {
    width: 37%;
    float: left;
    margin-right: 5px;
  }
  .experian-col2 {
    width: 19.1%;
    float: left;
    margin-right: 5px;
  }
  .experian-col3 {
    width: 40%;
    float: left;
  }
}

.experian-col1,
.experian-col2,
.experian-col3 {
  img {
    width: 100%;
    &:hover {
      -webkit-box-shadow: -1px 0px 3px 3px rgba(0,149,211,.4);
      -moz-box-shadow: -1px 0px 3px 3px rgba(0,149,211,.4);
      box-shadow: -1px 0px 3px 3px rgba(0,149,211,.4);
      -webkit-transition: all 600ms ease;
      -moz-transition: all 600ms ease;
      transition: all 600ms ease;
    }
  }
}

.experian-col3-mod {
  @include clearfix();
  .mod-tile {
    width: 50%;
    float: left;
    img {
      width: 87%;
    }
  }
}



.photoset-grid-custom {
  border: 1px solid #EEE;
}

.experian-second-row-grid {
  [class*='column-'] {
    img {
      width: 100%;
    }
  }
  
  .row-two-h img {
    height: 500px; 
  }
}

.experian-custom-grid {
  margin: 50px 0 0 0;
  [class*='column-'] {
    img {
      width: 100%;
    }
  }

  .row-one-h img {
    height: 258px;
  }

}
