# npm
node_modules/

#sass-cache
*.scssc
.sass-cache/
.sass-cache/*

# OS X
.DS_Store
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# vim
*.swp

# git
!.gitkeep

# Minified